.breadcrumbs {
	display: flex;
	flex-flow: row wrap;
	li:not(:first-child) {
		margin-left: 1.5rem;
		margin-bottom: 1rem;
	}
	li::marker {
		content: "/ ";
	}
	li:first-child::marker {
		content: "";
	}
	li:first-child {
		margin-left: 0;
	}
	font-family: monospace;
}
.breadcrumb-nav {
	.title {
		margin-bottom: 0.5em;
		color: var(--ui-text-muted);
		text-transform: uppercase;
		font-weight: 900;
	}
}